body, html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

#header {
  position: relative;
  width: 100%;
  height: 79px;
  background-color: black;
  color: #fff;
}

#header .logo {
  position: absolute;
  left: 55px;
  height: 58px;
  top: 10px;
  cursor: pointer;
}

#header .logo img {
  height: 100%;
  width: auto;
}

#header .right-header {
  position: absolute;
  right: 55px;
  top: 30px;
  font-size: 1em;
  letter-spacing: 0.02em;
  text-align: right;
  font-style: italic;
  color: #f57e7a;
}

#navbar {
  width: 100%;
  text-align: center;
}

#navbar a {
  text-decoration: none;
  color: #222;
}

#navbar .icon {
  display: inline-block;
  margin: 20px 4.5%;
  height: 60px;
  text-align: center;
}

#navbar .icon img {
  cursor: pointer;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

#navbar .icon img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#navbar .icon span {
  display: block;
  width: 100%;
  font-size: 0.82em;
}

#main-container {
  width: 100%;
  height: 800px;
  margin: 60px 0;
}

#main-container .product-image {
  float: left;
  height: 800px;
  width: 50%;
  background-image: url("img/livre.jpg");
  background-size: cover;
}

#main-container .product-description {
  float: left;
  width: 50%;
  padding: 0 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#main-container .product-description h2 {
  color: #333;
  font-size: 1.85em;
  margin-top: 0;
  margin-bottom: 20px;
}

#main-container .product-description h4 {
  margin-top: 30px;
  border-bottom: 1px #555 solid;
  color: #333;
  padding: 15px;
  font-size: 0.95em;
}

#main-container .product-description .stock {
  background-color: #df4844;
  color: white;
  font-weight: 700;
  width: 300px;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
}

#main-container .product-description .more-infos {
  font-size: 0.9em;
  color: #444;
  line-height: 1.8em;
}

#main-container .product-description .prix {
  color: #333;
  padding: 10px;
  font-size: 1.55em;
  font-weight: 700;
  margin-bottom: 30px;
}

#main-container .product-description .infos-stock {
  margin-top: 20px;
  font-size: 0.8em;
  padding-left: 10px;
}

#main-container .product-description .infos-stock a {
  color: #cc2823;
  font-weight: bold;
}

#discover {
  width: 95%;
  max-width: 1200px;
  margin: 20px auto 200px auto;
  height: 400px;
}

#discover h2 {
  margin: 60px 0;
}

#discover a {
  color: inherit;
  text-decoration: none;
}

#discover .discover-container {
  width: 100%;
}

#discover .discover-container .produit {
  float: left;
  width: 25%;
  height: 400px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

#discover .discover-container .produit h5 {
  font-size: 1em;
  max-width: 240px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#discover .discover-container .produit .produit-img {
  height: 320px;
  background-image: url("livre.jpg");
  background-size: cover;
  width: 90%;
  max-width: 240px;
  margin: auto;
  border-radius: 16px;
  cursor: pointer;
}

#footer {
  width: 100%;
  height: 130px;
  border-top: 1px #dfdfdf solid;
}

#footer .container {
  width: 95%;
  max-width: 1100px;
  margin: auto;
}

#footer .down-footer {
  margin-top: 15px;
  font-size: 0.75em;
  color: #222;
  text-align: right;
  width: 100%;
}

#footer ul.payment-icons {
  margin: 25px 0;
}

#footer ul.payment-icons li {
  list-style: none;
  float: left;
  margin-right: 5px;
}

#footer ul.socials {
  float: right;
  margin-top: 18px;
}

#footer ul.socials li {
  list-style: none;
  float: left;
  margin-right: 5px;
  margin: 0 15px;
}

#footer ul.socials svg {
  height: 25px;
  fill: #333;
}

.cb {
  clear: both;
}

.announcement {
  background-color: #DB332E;
  color: #fff;
  height: 50px;
  text-align: center;
  display: block;
  padding: 14px 22px;
  font-size: 1.06667em;
  font-weight: 700;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=style.css.map */